<h1>Ask the coach even he ´s stupid</h1>
<p>Type in your question?</p>
<form class="form" action="/answer" method="get">
  <input type="text" id="question" name="question"><br><br>
  <input type="submit" value="Submit">
</form>

